

.history{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* width: 1200px; */
}


.history_table{
    margin-top: 10px;
    box-shadow:10px 10px 20px gray;
    width: 820px;
    overflow: hidden;
    margin-bottom: 100px;
}

.header_history{
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Cookie';
    color: purple;
}